<div class="container animated fadeIn">
  <div class="row">
    <div class="col-md-12 my-5">
      <h2 class="text-center">
        Galería
      </h2>
    </div>

  </div>
  <div class="row" *ngIf="images">
    <div class="item_gallery col-12 col-sm-12 col-md-4 col-lg-3 animated fadeInUp clickIn" *ngFor="let img of images" [ngClass]="clsHover"
         (click)="showImg($event,img)" [ngStyle]="{'background': 'url(' + (img)  + ') no-repeat','background-size':'cover','background-position':'center'}"
         style="width:30%; height:310px;">
    </div>
  </div>
</div>

<div *ngIf="modalIn" class="modal_image animated fadeIn" (click)="hideModalIn($event)">
  <img [src]="srcModal" alt="" class="animated fadeInUp">
</div>
{{ images }}
