<div *ngIf="preloader === false" id="preloader" class="d-flex justify-content-center animated">
  <img src="assets/img/balls_loading.gif" alt="preloader">
</div>

<!--menu movil-->
<nav id="menuMovil" [ngClass]="showMenuMovil ? 'hola bounceInLeft' : 'zoomOutLeft'"  class="animated">
  <a [routerLink]="'home'">
    <img [src]="mFConfig.urlImage" class="w-75 mb-5" alt="{{ mFConfig.nombre }}" title="{{ mFConfig.nombre }}">
  </a>
  <ul>
    <li *ngFor="let item of mFConfig.menu" class="nav-item" routerLinkActive="active">

      <div *ngIf="item.sub === null">
        <a class="nav-link text-light" [routerLink]="item.link">{{ item.name }}</a>
      </div>
      <div *ngIf="item.sub != null">
        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          {{ item.name }}
        </a>
        <div class="dropdown-menu bg-danger">
          <a *ngFor="let itmSub of item.sub" class="dropdown-item text-light" [routerLink]="itmSub.link">
            {{ itmSub.name }}
          </a>
        </div>
      </div>

    </li>
  </ul>
</nav>
<!--menu movil-->


<!-- Image and text -->
<div class="pb-4 header-bg">
  <div class="container">
    <div class="d-flex bd-highlight">
      <div class="pt-4 flex-fill bd-highlight w-25">
        <a [routerLink]="'home'">
          <img [src]="mFConfig.urlImage" class="w-75" alt="{{ mFConfig.nombre }}" title="{{ mFConfig.nombre }}">
        </a>
      </div>
      <div class="p-2 flex-fill bd-highlight">
        <div class="float-md-right icons-header mt-5">
          <a href="https://twitter.com/MobiliarioFM" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/mobiliariofamarsa/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a [routerLink]="'contacto'">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar-light bg-danger sticky-top">
  <div class="container">
      <ul class="nav justify-content-center" id="v_desktop">
        <li *ngFor="let item of mFConfig.menu" class="nav-item" routerLinkActive="active">

          <div *ngIf="item.sub === null">
            <a class="nav-link text-light" [routerLink]="item.link">{{ item.name }}</a>
          </div>
          <div *ngIf="item.sub != null">
            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              {{ item.name }}
            </a>
            <div class="dropdown-menu bg-danger">
              <a *ngFor="let itmSub of item.sub" class="dropdown-item text-light" [routerLink]="itmSub.link">
                {{ itmSub.name }}
              </a>
            </div>
          </div>

        </li>
      </ul>
    <div id="v_movil">
      <span (click)="showMenu($event)" class="clickIn"><i class="fas fa-bars fa-2x p-2"></i></span>
    </div>
    </div>
</nav>
<app-chats></app-chats>
