<div class="container animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-xs-12 p-0">
      <h1 class="text-center py-5">{{ config.title }}</h1>
      <h2 class="text-center mb-3">{{ config.subTitle }}</h2>
    </div>
    <div class="col-md-6 col-xs-12 pl-0">
      <h5>{{ config.content[0].title }}</h5>
      <p>{{ config.content[0].parrafo }}</p>
      <hr>
      <h5>{{ config.content[1].title }}</h5>
      <p>{{ config.content[1].parrafo }}</p>
      <hr>
      <h5>{{ config.content[2].title }}</h5>
      <p>{{ config.content[2].parrafo }}</p>
    </div>
    <div class="col-md-6 col-xs-12 pl-0">
      <img [src]="config.img1" class="w-100 animated fadeIn" alt="">
    </div>
    <br>
    <hr>
    <div class="col-md-12 col-xs-12">
      <h5 class="border-secondary border-top pb-3 pt-4 text-center">{{ config.content2[0].title }}</h5>
    </div>
    <div class="col-md-6 col-xs-12">
      <p class="text-center">{{ config.content2[1].value }}</p>
      <p class="text-center">{{ config.content2[3].value }}</p>
      <p class="text-center">{{ config.content2[5].value }}</p>
    </div>
    <div class="col-md-6 col-xs-12">
      <p class="text-center">{{ config.content2[2].value }}</p>
      <p class="text-center">{{ config.content2[4].value }}</p>
      <p class="text-center">{{ config.content2[6].value }}</p>
    </div>
    <div class="col-md-12">
      <h5 class="text-center">{{ config.content3.title }}</h5>
    </div>
  </div>
</div>
<app-map [configMap]="config.content3.map"></app-map>
