<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-5" data-element="contacto">
      <h2 class="py-3">Medios de contacto</h2>
      <p>Para contactarnos lo puedes hacer de lunes a domingo en los horarios de 07:00 am - 06:00 pm por los siguiente medios:</p>
      <h3><span class="badge"><i class="fas fa-phone rotate-90"></i></span> 0959638071</h3>
      <h3><span class="badge"><i class="fas fa-phone rotate-90"></i></span> 0992506911</h3>
      <h3><span class="badge"><i class="fas fa-phone rotate-90"></i></span> 0992114751</h3>
      <hr>
      <h3>
        <a href="https://www.facebook.com/mobiliariofamarsa/"> mobiliariofamarsa <span class="badge"><i class="fab fa-facebook-f"></i></span></a>
      </h3>
      <h3>
        <a href="https://api.whatsapp.com/send?phone=593959638071&text=Hola%2C%20necesito%20una%20asesor%C3%ADa"> +593 95 963 8071 <span class="badge"><i class="fab fa-whatsapp"></i></span></a>
      </h3>
      <h3>
        <a href="https://twitter.com/MobiliarioFM"> @MobiliarioFM<span class="badge"><i class="fab fa-twitter"></i></span></a>
      </h3>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-5">
      <h1 class="text-center py-3">Formulario de Contacto</h1>
      <form #forma="ngForm" class="py-3">
        <div class="form-group">
          <label for="names">Nombres y Apellidos</label>
          <input type="text" name="names" [(ngModel)]="contacto.names"
                 class="form-control" id="names" placeholder="Ingrese su nombre y apellidos" required>
        </div>
        <div class="form-group">
          <label for="email">Correo</label>
          <input type="email" name="email" [(ngModel)]="contacto.email"
                 class="form-control" id="email" placeholder="Ingrese su correo electrónico" required>
        </div>
        <div class="form-group">
          <textarea name="asunto" [(ngModel)]="contacto.asunto" id="" cols="10" rows="5" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-primary m-auto w-50" (click)="enviarContacto()" [disabled]="!forma.valid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ response | json }}
