<div class="chats">
  <ul>
    <li>
      <a href="https://api.whatsapp.com/send?phone=593959638071&text=Hola%2C%20necesito%20una%20asesor%C3%ADa" target="_blank">
        <span>Escríbenos !! </span><i class="fab fa-3x fa-whatsapp"></i>
      </a>
    </li>
  </ul>
</div>
