<div class="container animated fadeIn">
  <div class="row">
    <div class="col-md-12 my-5">
      <h2 class="text-center">
        Catálogo{{ currentUrl }}
      </h2>
    </div>

  </div>
  <div class="row pb-5" *ngIf="images">
    <div class="item_gallery col-12 col-sm-12 col-md-4 col-lg-3 animated fadeInUp clickIn pb-4" *ngFor="let img of images">
      <div class="item-img-portfolio position-relative" [ngStyle]="{'background': 'url(' + (img)  + ') no-repeat','background-size':'100%','background-position':'center'}" style="height:310px;">
        <div class="btn-show-img w-100 position-absolute" (click)="showImg($event,img)"></div>
        <div class="btn-preguntar-por w-100 position-absolute" (click)="callWpGo(img)" >
          <p class="text-white mb-0">Cotizar</p>
          <span><i class="fab fa-3x fa-whatsapp"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modalIn" class="modal_image animated fadeIn" (click)="hideModalIn($event)">
  <img [src]="srcModal" alt="" class="animated fadeIn w-50">
</div>
