.item-img-portfolio{
  border: solid 1px #eee;
  border-radius: 5px;
}
.btn-preguntar-por{
  background: #dc3545;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border-radius: 0 15px 0 0;
  padding-bottom: 10px;
  padding-top: 10px;
  /*opacity: 0;*/
  left: -80%;
  transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.btn-preguntar-por span{
  font-size: 0.5rem;
  position: absolute;
  right: 15px;
  top: 10px;
}
.btn-preguntar-por:hover{
  opacity: 1;
  left: 0%;
}
.item_gallery{
  clip-path: inset(0% 0% 0% 5%);
}
.item_gallery:hover{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
}
.btn-show-img{
  height: 100%;
}
