<div id="maps-angular" class="mt-5">
<!--  <agm-map [latitude]="configMap.lat" [longitude]="configMap.lng" [zoom]="configMap.zoom">
    <agm-marker [latitude]="configMap.lat" [longitude]="configMap.lng"></agm-marker>
  </agm-map>-->
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-center">Almacén #1</h6>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8139330836934!2d-76.90643998524332!3d0.08496846435672993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2823eefba5b231%3A0x431e37f0f4c23041!2sMobiliarios+Famarsa!5e0!3m2!1ses-419!2sco!4v1558234280189!5m2!1ses-419!2sco"
              width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <h6 class="text-center">Almacén #2</h6>
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d249.36337311180213!2d-76.90365007077753!3d0.08461228179928205!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1666983973249!5m2!1ses-419!2sco"
              width="100%" height="400" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
