<div class="animated fadeIn">
  <ngb-carousel *ngIf="config" interval="7000" >
    <ng-template ngbSlide *ngFor="let img of config.slider;let i = index ">
      <img [src]="img.src" [alt]="img.titulo" [title]="img.titulo" class="w-100 animated fadeInLeft">
      <div class="carousel-caption animated slideInUp">
        <h3>{{ img.titulo }}</h3>
        <p>{{ img.parrafo1 }} <br> {{ img.parrafo2 }} </p>
        <p *ngIf="img.link != ''">
          <a [href]="img.link" class="btn btn-danger">Ver más</a>
        </p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="container pt-3">
    <h4 class="bg-danger mt-5 py-3 text-center text-light">{{ config.subTitlehome }}</h4>
    <div class="row" id="content-products">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3" *ngFor="let miniatures of config.miniatures">
        <div class="card w-100">
          <a [href]="miniatures.enlace">
            <div class="cortina">
              <p>{{ miniatures.title }}</p>
            </div>
            <img class="card-img-top" [src]="miniatures.src" [alt]="miniatures.title">
          </a>
          <div class="card-body">
            <p class="card-text">{{ miniatures.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="bg-warning mt-5 py-3 text-center text-capitalize">{{ config.contentDescrition.title }}</h4>
    <div class="row mb-4" id="content-descrip">
      <div class="col-md-12 col-xs-12">
        <p>{{ config.contentDescrition.texto1 }}</p>
      </div>
      <div class="col-md-12 col-xs-12">
        <p>{{ config.contentDescrition.texto2 }}</p>
      </div>
    </div>
  </div>

  <app-map [configMap]="config.map"></app-map>

</div>
