<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
<!--            <img src="{{image}}" class="w-50" alt="">-->
        </div>
        <div class="col-md-12 text-center my-5">
            <h2>{{ textCommingSoon.title }}</h2>
            <p>{{ textCommingSoon.textParrafo}}</p>
        </div>
        <div class="col-md-12 text-center py-5">
            <ul class="list-unstyled display-4" style="display: inline-flex; ">
                <li class="px-3">
                    <a href="{{textCommingSoon.facebook}}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="px-3">
                    <a href="{{textCommingSoon.instagram}}">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
