@import "https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700i,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap";
@font-face {
  font-family: avenirnext-pro;
  src: url("assets/fonts/Avenir-nextltPRO.OTF");
}

@negro-mf : #333;
@amarillo-mf: #febc00;
@rojo-mf: #dc3545;
@gris-mf: #7e7e7e;
@gray-footer: #263238;
p, a{
  font-family: 'Nunito Sans', sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: avenirnext-pro;
  font-weight: 600;
  text-transform: uppercase;
}
.clshover_img{

}
.hide{
  display: none !important;
}
#menuMovil{
  display: none;
}
#v_movil{
  display: none;
  span{
    i{
      color: #fff;
    }
  }
}
#preloader{
  position: fixed;
  background: #fff;
  z-index: 10000;
  width: 100%;
  height: 100%;
  img{
    width: 100px;
    height: 100px;
    margin-top: 20%;
  }
}
.header-bg{
  background: url("assets/img/Mobiliarios-_famarsa_banner2_tdiam7.png")no-repeat;
  background-size: 61%;
  background-position-x: 250px;
  background-position-y: -15px;
  .container{
    .d-flex{
      .icons-header{
        a{
          i{
            font-size: 1.3em;
            padding: 0 3px;
            color: @negro-mf;
            }
        }
      }
    }
  }
}
app-home{
  ngb-carousel.carousel.slide{
    border-bottom: 15px solid @amarillo-mf;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    a.carousel-control-prev,.carousel-control-next{
      cursor: pointer;
    }
  }
  #content-products{
    .col-md-3.py-3{
      .card.w-100{
        border-radius: 0px;
        a{
          .cortina{
            position: absolute;
            background: #000000db;
            width: 100%;
            height: 211px;
            color: #fff;
            text-align: center;
            opacity: 0;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
            //border-radius: 50px 50px 50px 50px;
            p{
              margin: 39% auto;
            }
          }
        }

        .card-img-top{
          border-bottom: 7px solid @rojo-mf;
        }
        .card-body{
          min-height: 112px;
          border-top: 3px solid #cacaca;
          .card-text{
            color: @negro-mf;
          }
        }
        &:hover{
          .cortina{
            opacity: 1;
            //border-radius: 0;
          }
        }
      }
    }
  }
  #maps-angular{
    border-top: 3px solid @gris-mf;
    border-bottom: 3px solid @gris-mf;
  }
}
agm-map {
  height: 300px;
}
app-footer{
  #app-footer{
    border-top: 5px solid @amarillo-mf;
    background-color: @gray-footer;
    #footer-bajo{
      background-color: #080808;
      .container{
        .row{
          .col-md-6{
            p.text-light{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.carousel-caption{
  h3,p{
    background: #000000b0;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px 6px 0px 0px;
    letter-spacing: 2px;
    font-weight: 500;
  }
  p{
    border-radius: 0px 0px 6px 6px;
  }
  p:nth-child(2){
    border-radius: 0px 0px 0px 0px;
  }
  .btn{
    margin: 15px 0;
  }
}

.clickIn{
  cursor: pointer;
}
.item_gallery{
  border: solid 1px #fff;
}
.modal_image{
  background: #000000a3;
  position: fixed;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  img{
    width: 500px;
  }
}
.rotate-90{
  transform: rotate(90deg);
}
div[data-element=contacto]{
  h3{
    a{
      text-transform: initial;
      color: #1b1e21;
      text-decoration: none;
    }
  }
}
span.badge{
  i{
    color: #495057;
  }
  i.fa-facebook-f{
    color: #4267b2;
  }
  i.fa-whatsapp{
    color: #09d261;
  }
  i.fa-twitter{
    color: #1ea1f2;
  }
}
app-chats{
  .chats{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #fff;
    z-index: 100;
    padding: 0 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          color: #212529;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            span{
              font-weight: 600;
            }
          }
          span{
            color: #212529;
          }
          i.fa-whatsapp{
            margin: 10px;
            color: #09d261;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .carousel-caption h3, .carousel-caption p{
    width: 80%;
  }
  app-home{
    .container{
      max-width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  #v_desktop{
    display: none;
  }
  #v_movil{
    display: flex;
    justify-content: flex-end;
  }
  #menuMovil{
    display: block;
    position: fixed;
    background: @rojo-mf;
    width: 70%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    padding: 5%;
    ul{
      list-style: none;
      li{

      }
    }
  }
  nav.navbar-light{
    z-index: 98;
  }
  .carousel-caption h3, .carousel-caption p{
    width: 100%;
  }
  .carousel-caption p{
    padding: 0;
  }
  .header-bg{
    background: none;
    padding: 10px 0 !important;
    .container{
      .bd-highlight{
        .p-2.flex-fill.bd-highlight.w-25{
          a{
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
        .p-2.flex-fill.bd-highlight:nth-child(2){
          display: none;
        }
      }
    }
  }
  app-home #content-products .col-md-3.py-3 .card.w-100 a .cortina{
    height: 100%;
  }
}
@media only screen and (max-width: 670px) {
  .carousel-caption{
    display: none;
  }
  ol.carousel-indicators{
    display: none;
  }
}
