<div id="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4">
        <legend class="text-light border-bottom">{{ mFconfig.footer.col1.title }}</legend>
        <ul class="list-inline">
          <li *ngFor="let item of mFconfig.footer.col1.items">
            <p class="text-light m-0">
              {{ item.title }} : {{ item.value }}
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 mt-4">
        <legend class="text-light border-bottom">{{ mFconfig.footer.col2.title }}</legend>
        <ul class="list-inline">
          <li *ngFor="let item of mFconfig.footer.col2.items">
            <p class="text-light m-0">
              {{ item.title }} : {{ item.value }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer-bajo">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light font-weight-light text-light p-2 m-1">
            <span>{{ mFconfig.footerBajo.col1.copy }} {{current_Year}}</span>
            <a [href]="mFconfig.footerBajo.col1.page" class="text-light"><span> {{ mFconfig.footerBajo.col1.page }} </span></a>
            <span><span>{{ mFconfig.footerBajo.col1.right }}</span></span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="text-light font-weight-light text-light p-2 m-1 text-right">
            <span><a [href]="mFconfig.footerBajo.col2.link" class="text-light">{{ mFconfig.footerBajo.col2.createdBy }}</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
